---
import { themeConfig } from '@/config'
const currentYear = new Date().getFullYear()
---

<footer>
  <div class="footer-content">
    <div class="footer-left">
      <span>© {currentYear} {themeConfig.site.title}</span>
      <slot />
    </div>
  </div>
</footer>
<style>
  footer {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
    line-height: 1.75;
    color: var(--text-secondary);
    opacity: 0.75;
    margin-top: 2.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border);
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .footer-left {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  footer a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  footer a:hover {
    color: var(--text-primary);
  }
</style>
